<div class="col-md-12">
	<form ng-submit="entrar()" ng-disabled="starting">
		<div ng-show="starting" style="position: absolute; background-color: rgba(250, 250, 250, 0.7); width: 100%; height: 100%;">
			<div style="position: relative; left: 50%; top: 50%; margin-left: -50px; margin-top: -50px; width: 100px; height: 100px;">
				<img src="{{ loader }}" width="50" height="50" align="center" /> <br />
				Iniciando...
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title"> Inicio de sesión </h1>
			</div>
			<div class="panel-body"> 
				<label for="txtUsuario"> Nombre de usuario </label>
				<input ng-model="data.usuario.username" type="text" id="txtUsuario" placeholder="Nombre Usuario" class="form-control" autofocus />

				<label for="txtPassword">Password</label>
				<input ng-model="data.usuario.password" type="password" id="txtPassword" placeholder="Password" class="form-control" />
			</div>
			<div class="panel-footer">
				<button class="btn btn-primary btn-block" type="submit">Entrar</button>
			</div>
		</div>
	</form>
	<div class="alert alert-warning" ng-show="fail">
		<strong>Cuidado!</strong>
		El nombre de usuario o password son incorrectos.
	</div>
</div>