<h2 class="page-header">Administración de usuarios</h2>
<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Lista de usuarios</h1>
			</div>
			<div class="panel-body">
				<div class="clearfix"></div>
				<div loading-container="table.params.settings().$loading">
					<table ng-table="table.params" class="table table-striped table-hover" show-filter="true">
						<tr ng-repeat="item in table.items" style="cursor: pointer;">
							<td data-title="'Nombre de usuario'" sortable="'UserName'" filter="{ 'UserName': 'text' }">
								{{ item.UserName }}
							</td>
							<td data-title="'Acciones'">
								<button class="btn btn-default" type="button" ng-click="mdlEditar(item)">
									Editar
								</button>
								<button class="btn btn-warning" type="button" ng-click="mdlEliminar(item)">
									Eliminar
								</button>
							</td>
						</tr>
					</table>
					<alert type="info" ng-show="table.items.length<=0">No se encontraron registros</alert>
				</div>	
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<div ui-view class="slide">
			<div class="alert alert-info">
				Selecciona un usuario para ver sus detalles.
			</div>
		</div>
	</div>
</div>