<div class="row">
	<div class="col-md-12">
		<form name="frmPoliza" ng-submit="agregar()" novalidate>
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<div class="col-md-8">
						<h3>Agregar Polizas</h3>
					</div>
					<div class="col-md-4">
						<div class="btn-group nav navbar-nav navbar-right" role="group" aria-label="Herramientas de administración">
							<button type="submit" class="btn btn-primary" ng-disabled="disabled()">
								Nueva
							</button>
							<button type="reset" class="btn btn-default" ng-click="reset(data)">
								Limpiar
							</button>
						</div>
					</div>

				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 clearfix">
							<div class="col-md-12">
								<div class="form-group has-{{ data.poliza.AveriguacionPrevia ? 'success' : 'warning' }} has-feedback">
									<label class="control-label" for="txtAveriguacionPrevia">Averiguación Previa:</label>
									<input ng-model="data.poliza.AveriguacionPrevia" name="pNombre" id="txtAveriguacionPrevia" type="text" class="form-control" required="" placeholder="Averiguación Previa" aria-describedby="txtAveriguacionPreviaStatus" />
									<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="data.poliza.AveriguacionPrevia"></span>
									<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!data.poliza.AveriguacionPrevia"></span>
									<span id="txtAveriguacionPreviaStatus" class="sr-only">(warning)</span>

									<div ng-show="frmPoliza.$submitted && !data.poliza.AveriguacionPrevia" class="text-warning">
										Es requerido el campo de averiguación previa.
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 clearfix">
							<div class="col-md-6">

								<!-- Inicio - Boton Afianzado -->
								<div class="form-group has-{{ data.afianzado ? 'success' : 'warning' }} has-feedback">
									<label class="control-label" for="txtAfianzado">Afianzado:</label>
									<input ng-model="nombreCompletoAfianzado" ng-show="data.afianzado" id="txtAfianzado" class="form-control" type="text" placeholder="Sin Depositante" required="" readonly />
									<button ng-click="agregarAfianzado(data.afianzado)" type="button" class="btn btn-default btn-block">
										<span class="glyphicon glyphicon-alert" ng-show="!data.afianzado"></span> Agregar Afianzado
									</button>

									<div ng-show="frmPoliza.$submitted && !data.afianzado" class="text-warning">
										Es requerido el campo de afianzado.
									</div>
								</div>
								<!-- Fin - Boton Afianzado -->

								<div class="form-group has-{{ data.cantidad ? 'success' : 'warning' }} has-feedback">
									<label class="control-label" for="txtCantidad">Cantidad:</label>
									<input ng-model="data.cantidad" name="pNombre" id="txtCantidad" type="text" class="form-control" required="" placeholder="Cantidad" aria-describedby="txtCantidadStatus" />
									<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="data.cantidad"></span>
									<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!data.cantidad"></span>
									<span id="txtCantidadStatus" class="sr-only">(warning)</span>

									<div ng-show="frmPoliza.$submitted && !data.cantidad" class="text-warning">
										Es requerido el campo cantidad.
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group has-{{ data.depositante ? 'success' : 'warning' }} has-feedback">
									<label class="control-label" for="txtDepositante">Depositante:</label>
									<input ng-model="nombreCompletoDepositante" ng-show="data.depositante" id="txtDepositante" class="form-control" type="text" placeholder="Sin Depositante" required="" readonly />
									<button ng-click="agregarDepositante(data.depositante)" type="button" class="btn btn-default btn-block">
										<span class="glyphicon glyphicon-alert" ng-show="!data.depositante"></span> Agregar Depositante
									</button>

									<div ng-show="frmPoliza.$submitted && !data.depositante" class="text-warning">
										Es requerido el campo de depositante.
									</div>
								</div>

								<div class="clearfix">
									<div class="form-group has-{{ data.afianzadora ? 'success' : 'warning' }} has-feedback">
										<loader
										    working="loaderAfianzadora"
										    message="cargando..."
										    template="8">
										</loader>
										<label class="control-label" for="lstAfianzadora">Afianzadora:</label>
										<select 
											id="lstAfianzadora"
											name="lstAfianzadora"
											class="form-control" 
											ng-model="data.afianzadora" 
											ng-options="afianzadora.Nombre for afianzadora in afianzadoras">
												<option value="">[ Afianzadora ]</option>
											</select>
										</label>

										<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="data.afianzadora"></span>
										<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!data.afianzadora"></span>
										<span id="txtAfianzadoStatus" class="sr-only">(warning)</span>

										<div ng-show="frmPoliza.$submitted && !data.afianzadora" class="text-warning">
											Es requerida la seleccion de una afianzadora.
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<label for="txtDescripcion">
									Descripción
								</label>
								<textarea ng-model="data.poliza.Descripcion" rows="5" id="txtDescripcion" class="form-control" placeholder="Descripción" style="display: block; width:100%;"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div ui-view></div>


<script type="text/ng-template" id="agregarDepositante.html">
	<form name="frmDepositantentente" ng-submit="agregar()" novalidate>
		<div class="modal-header">
			<h3 class="modal-title">Depositante</h3>
		</div>
		<div class="modal-body">
			<div class="form-group has-{{ depositante.Nombre ? 'success' : 'warning' }} has-feedback">
				<label class="control-label" for="txtDepositanteNombre">Nombre:</label>
				<input ng-model="depositante.Nombre" name="pNombre" id="txtDepositanteNombre" type="text" class="form-control" required="" placeholder="Nombre de depositante" aria-describedby="txtDepositanteNombreStatus" />
				<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="depositante.Nombre"></span>
				<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!depositante.Nombre"></span>
				<span id="txtDepositanteNombreStatus" class="sr-only">(warning)</span>

				<div ng-show="frmDepositante.$submitted && !depositante.Nombre" class="text-warning">
					Es requerido el campo nombre del depositante.
				</div>
			</div>

			<div class="form-group has-{{ depositante.ApellidoPaterno ? 'success' : 'warning' }} has-feedback">
				<label class="control-label" for="txtDepositanteApellidoPaterno">Apellido Paterno:</label>
				<input ng-model="depositante.ApellidoPaterno" name="pNombre" id="txtDepositanteApellidoPaterno" type="text" class="form-control" required="" placeholder="Apellido Paterno" aria-describedby="txtDepositanteApellidoPaternoStatus" />
				<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="depositante.ApellidoPaterno"></span>
				<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!depositante.ApellidoPaterno"></span>
				<span id="txtDepositanteApellidoPaternoStatus" class="sr-only">(warning)</span>
				
				<div ng-show="frmDepositante.$submitted && !depositante.ApellidoPaterno" class="text-warning">
					Es requerido el campo apellido paterno del depositante.
				</div>
			</div>

			<div class="form-group has-{{ depositante.ApellidoMaterno ? 'success' : 'warning' }} has-feedback">
				<label class="control-label" for="txtDepositanteApellidoMaterno">Apellido Materno:</label>
				<input ng-model="depositante.ApellidoMaterno" name="pNombre" id="txtDepositanteApellidoMaterno" type="text" class="form-control" required="" placeholder="Apellido Materno" aria-describedby="txtDepositanteApellidoMaternoStatus" />
				<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="depositante.ApellidoMaterno"></span>
				<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!depositante.ApellidoMaterno"></span>
				<span id="txtDepositanteApellidoMaternoStatus" class="sr-only">(warning)</span>
				
				<div ng-show="frmDepositante.$submitted && !depositante.ApellidoMaterno" class="text-warning">
					Es requerido el campo apellido materno del depositante.
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" ng-disabled="disabled()">Agregar</button>
			<button class="btn btn-warning" ng-click="cancelar()" type="button">Cancelar</button>
		</div>
	</form>
</script>



<!-- Modal Afianzado -->
<script type="text/ng-template" id="agregarAfianzado.html">
	<form name="frmAfianzado" ng-submit="agregar()" novalidate>
		<div class="modal-header">
			<h3 class="modal-title">Afianzado</h3>
		</div>
		<div class="modal-body">
			<div class="form-group has-{{ afianzado.Nombre ? 'success' : 'warning' }} has-feedback">
				<label class="control-label" for="txtAfianzadoNombre">Nombre:</label>
				<input ng-model="afianzado.Nombre" id="txtAfianzadoNombre" type="text" class="form-control" required="" placeholder="Nombre de depositante" aria-describedby="txtAfianzadoNombreStatus" />
				<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="afianzado.Nombre"></span>
				<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!afianzado.Nombre"></span>
				<span id="txtAfianzadoNombreStatus" class="sr-only">(warning)</span>

				<div ng-show="frmAfianzado.$submitted && !afianzado.Nombre" class="text-warning">
					Es requerido el campo nombre del afianzado.
				</div>
			</div>

			<div class="form-group has-{{ afianzado.ApellidoPaterno ? 'success' : 'warning' }} has-feedback">
				<label class="control-label" for="txtAfianzadoApellidoPaterno">Apellido Paterno:</label>
				<input ng-model="afianzado.ApellidoPaterno" name="pNombre" id="txtAfianzadoApellidoPaterno" type="text" class="form-control" required="" placeholder="Apellido Paterno" aria-describedby="txtAfianzadoApellidoPaternoStatus" />
				<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="afianzado.ApellidoPaterno"></span>
				<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!afianzado.ApellidoPaterno"></span>
				<span id="txtAfianzadoApellidoPaternoStatus" class="sr-only">(warning)</span>
				
				<div ng-show="frmAfianzado.$submitted && !afianzado.ApellidoPaterno" class="text-warning">
					Es requerido el campo apellido paterno del afianzado.
				</div>
			</div>

			<div class="form-group has-{{ afianzado.ApellidoMaterno ? 'success' : 'warning' }} has-feedback">
				<label class="control-label" for="txtAfianzadoApellidoMaterno">Apellido Materno:</label>
				<input ng-model="afianzado.ApellidoMaterno" name="pNombre" id="txtAfianzadoApellidoMaterno" type="text" class="form-control" required="" placeholder="Apellido Materno" aria-describedby="txtAfianzadoApellidoMaternoStatus" />
				<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="afianzado.ApellidoMaterno"></span>
				<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!afianzado.ApellidoMaterno"></span>
				<span id="txtAfianzadoApellidoMaternoStatus" class="sr-only">(warning)</span>
				
				<div ng-show="frmAfianzado.$submitted && !afianzado.ApellidoMaterno" class="text-warning">
					Es requerido el campo apellido materno del afianzado.
				</div>
			</div>

			<div class="form-group has-{{ (!afianzado.FechaDeNacimiento ? 'warning' : 'success') }} has-feedback">
				<label class="control-label" for="txtFechaDeNacimiento">Fecha de Nacimiento</label>

              	<cbk-calendar 
			 		cbk-id="'txtFechaDeNacimiento'"
			 		cbk-model="afianzado.FechaDeNacimiento" 
			 		cbk-placeholder="'Fecha de Nacimiento'">
			 	</cbk-calendar>

		 		<span ng-show="afianzado.FechaDeNacimiento" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
		 		<span ng-show="!afianzado.FechaDeNacimiento" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>

		 		<span class="sr-only"></span>

		 		<div ng-show="frmAfianzado.$submitted && !afianzado.FechaDeNacimiento" class="text-warning">
					Es requerido el campo Fecha de Nacimiento.
				</div>
		 	</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" ng-disabled="disabledForm()">Agregar</button>
			<button class="btn btn-warning" ng-click="cancelar()" type="button">Cancelar</button>
		</div>
	</form>
</script>
<!-- Fin Modal Afianzado -->