<h1 class="page-header">Administrar Pólizas</h1>
<div class="col-md-12">
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked">
				<li ng-class="{active: $state.includes('polizas.agregar')}">
					<a ui-sref="polizas.agregar">Agregar Póliza</a>
				</li>
				<li ng-class="{ active: $state.includes('polizas.listar') }">
					<a ui-sref="polizas.listar">Listar Pólizas</a>
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			<div ui-view class="slide"></div>
		</div>
	</div>
</div>