<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Sistema de polizas | PGJ</title>
    <meta name="description" content="Sistema de polizas">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="fragment" content="!" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angularjs-toaster/toaster.css" />
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/animations.css">
    <link rel="stylesheet" href="styles/sticky-footer.css">
    <!-- endbuild -->
  </head>
  <body ng-app="polizasAngularAppApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-cbk" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#!/" ng-click="resetMenuSelect()">
              <img src="images/cdmx.png" alt="Ciudad de México" height="50" style="margin-top: -15px; float: left;" />
              <img src="images/pgj_df.png" alt="Ciudad de México" height="50" style="margin-top: -15px; float: left;" />
            </a>
          </div>

          <div class="collapse navbar-collapse" style="border-bottom: solid 1px rgb(100, 100, 100);">
            <ul class="nav navbar-nav" ng-show="session.loginActive">
              <li ui-route="#/" ng-class="{active: $uiRoute}">
                <a ng-href="#!/" ng-click="resetMenuSelect()">Inicio</a>
              </li>
              <li ng-class="{active: $uiRoute}">
                <a href ng-click="resetMenuSelect(); operaciones = !operaciones;">
                  Operaciones <!-- <span class="caret"></span> -->
                </a>
                <!--
                <ul class="dropdown-menu" role="menu">
                  <li ui-route="#/polizas" ng-class="{active: $uiRoute}">
                    <a ng-href="#!/polizas">Polizas</a>
                  </li>
                  <li ui-route="#/administrar/afianzadoras" ng-class="{active: $uiRoute}">
                    <a ng-href="#!/administrar/afianzadoras">Afianzadoras</a>
                  </li>
                  <li ui-route="#/administrar/autoridades" ng-class="{active: $uiRoute}">
                    <a ng-href="#!/administrar/autoridades">Autoridades</a>
                  </li>
                </ul>
              -->
              </li>
              <li ng-class="{active: $uiRoute}">
                <a href ng-click="resetMenuSelect(); administracion = !administracion;">
                  Administración
                </a>
              </li>
              <li ng-class="{active: $uiRoute}">
                <a ui-sref="perfil">
                  Perfil | {{ user.UserName }}
                </a>
              </li>
              <li ng-class="{active: $uiRoute}">
                <a ui-sref="home" ng-click="session.logout()">
                  Salir
                </a>
              </li>
            </ul>
            <!-- <p class="navbar-text navbar-right">{{ currentTime }}</p> -->
          </div>


          <div class="collapse navbar-collapse">
            <ul ng-show="operaciones" class="nav navbar-nav animate-show">
              <li ui-route="#/polizas/listar" ng-class="{active: $uiRoute}">
                <a ui-sref="polizas.listar">Listar Polizas</a>
              </li>
              <li ui-route="#/polizas/agregar" ng-class="{active: $uiRoute}">
                <a ui-sref="polizas.agregar">Agregar Polizas</a>
              </li>
              <li ui-route="#/afianzados/listar" ng-class="{active: $uiRoute}">
                <a ui-sref="afianzados.listar">Afianzados</a>
              </li>
            </ul>
            <!-- <p class="navbar-text navbar-right">{{ currentTime }}</p> -->
          </div>

          <div class="collapse navbar-collapse">
            <ul ng-show="administracion" class="nav navbar-nav animate-show">
              <li ui-route="#/administrar/areas" ng-class="{active: $uiRoute}">
                <a ng-href="#!/administrar/areas">Areas</a>
              </li>
              <li ui-route="#/administrar/afianzadoras" ng-class="{active: $uiRoute}">
              <a ng-href="#!/administrar/afianzadoras">Afianzadoras</a>
              </li>
              <li ui-route="#/administrar/autoridades" ng-class="{active: $uiRoute}">
                <a ng-href="#!/administrar/autoridades">Autoridades</a>
              </li>
            </ul>
            <!-- <p class="navbar-text navbar-right">{{ currentTime }}</p> -->
          </div>


        </div>
      </div>
    </div>

    <toaster-container toaster-options="{'close-button': true}"></toaster-container>
    <div class="container">
        <div class="view-animate-container">
          <div ui-view class="view-animate"></div>
        </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>Procuraduría General De Justicia</p>
      </div>
    </div>

    <script type="text/ng-template" id="mdlDefaultModal.html">
      <div class="modal-header">
        <h3 class="modal-title">{{ title }}</h3>
      </div>
      <div class="modal-body">
        {{ msg }}
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="accept()">Aceptar</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
      </div>
    </script>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angularjs-toaster/toaster.js"></script>
    <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ng-loaders/ngLoader.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/notfound.js"></script>
        <script src="scripts/controllers/afianzadoras/afianzadoras.js"></script>
        <script src="scripts/controllers/afianzadoras/afianzadoras.editar.modal.js"></script>
        <script src="scripts/controllers/defaultmodalinstance.js"></script>
        <script src="scripts/controllers/areas/areas.js"></script>
        <script src="scripts/services/api.js"></script>
        <script src="scripts/services/afianzadoraservice.js"></script>
        <script src="scripts/services/cbk.js"></script>
        <script src="scripts/services/areasservice.js"></script>
        <script src="scripts/services/datatable.js"></script>
        <script src="scripts/directives/loadingcontainer.js"></script>
        <script src="scripts/controllers/areas/areaseditarmodal.js"></script>
        <script src="scripts/controllers/autoridades/autoridades.js"></script>
        <script src="scripts/services/autoridadesservice.js"></script>
        <script src="scripts/controllers/autoridades/autoridadeseditarmodal.js"></script>
        <script src="scripts/controllers/polizas/polizas.js"></script>
        <script src="scripts/controllers/polizas/polizas.agregar.js"></script>
        <script src="scripts/controllers/polizas/polizasagregarafianzadomodal.js"></script>
        <script src="scripts/controllers/polizas/polizas.agregar.afianzado.modal.js"></script>
        <script src="scripts/controllers/polizas/polizas.agregar.depositante.modal.js"></script>
        <script src="scripts/services/polizasservice.js"></script>
        <script src="scripts/controllers/afianzados/home.js"></script>
        <script src="scripts/controllers/afianzados/listar.js"></script>
        <script src="scripts/controllers/afianzados/nuevo.js"></script>
        <script src="scripts/services/afianzadosservice.js"></script>
        <script src="scripts/services/utils.js"></script>
        <script src="scripts/controllers/session/login.js"></script>
        <script src="scripts/services/authservice.js"></script>
        <script src="scripts/services/authprovider.js"></script>
        <script src="scripts/controllers/polizas/polizas.listar.js"></script>
        <script src="scripts/controllers/perfil/perfil.home.js"></script>
        <script src="scripts/services/perfilservice.js"></script>
        <!-- endbuild -->
</body>
</html>
