<div class="row">
	<div class="col-md-12">
		<form name="frmPoliza" ng-submit="agregar()" novalidate>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Agregar Polizas</h1>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 clearfix">
							<div class="col-md-12">
								<div class="form-group has-{{ poliza.averiguacionPrevia ? 'success' : 'warning' }} has-feedback">
									<label class="control-label" for="txtAveriguacionPrevia">Averiguación Previa:</label>
									<input ng-model="poliza.averiguacionPrevia" name="pNombre" id="txtAveriguacionPrevia" type="text" class="form-control" required="" placeholder="Averiguación Previa" aria-describedby="txtAveriguacionPreviaStatus" />
									<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="poliza.averiguacionPrevia"></span>
									<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!poliza.averiguacionPrevia"></span>
									<span id="txtAveriguacionPreviaStatus" class="sr-only">(warning)</span>

									<div ng-show="frmPoliza.$submitted && !poliza.averiguacionPrevia" class="text-warning">
										Es requerido el campo de averiguación previa.
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 clearfix">
							<div class="col-md-6">
								<div class="form-group has-{{ poliza.afianzado ? 'success' : 'warning' }} has-feedback">
									<label class="control-label" for="txtAfianzado">Afianzado:</label>
									<input ng-model="nombreCompletoAfianzado" ng-show="poliza.afianzado" class="form-control" type="text" placeholder="Sin Afianzador" required="" aria-describedby="txtAfianzadoStatus" readonly />
									<button ng-click="agregarAfianzado(poliza.afianzado)" type="button" class="btn btn-default btn-block">
										<span class="glyphicon glyphicon-alert" ng-show="!poliza.afianzado"></span> Agregar Afianzado
									</button>

									<div ng-show="frmPoliza.$submitted && !poliza.afianzado" class="text-warning">
										Es requerido el campo de afianzado.
									</div>
								</div>

								<div class="form-group has-{{ poliza.cantidad ? 'success' : 'warning' }} has-feedback">
									<label class="control-label" for="txtCantidad">Cantidad:</label>
									<input ng-model="poliza.cantidad" name="pNombre" id="txtCantidad" type="text" class="form-control" required="" placeholder="Cantidad" aria-describedby="txtCantidadStatus" />
									<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="poliza.cantidad"></span>
									<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!poliza.cantidad"></span>
									<span id="txtCantidadStatus" class="sr-only">(warning)</span>

									<div ng-show="frmPoliza.$submitted && !poliza.cantidad" class="text-warning">
										Es requerido el campo cantidad.
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group has-{{ poliza.depositante ? 'success' : 'warning' }} has-feedback">
									<label class="control-label" for="txtDepositante">Depositante:</label>
									<input ng-model="nombreCompletoDepositante" ng-show="poliza.depositante" id="txtDepositante" class="form-control" type="text" placeholder="Sin Depositante" required="" readonly />
									<button ng-click="agregarDepositante(poliza.depositante)" type="button" class="btn btn-default btn-block">
										<span class="glyphicon glyphicon-alert" ng-show="!poliza.depositante"></span> Agregar Depositante
									</button>

									<div ng-show="frmPoliza.$submitted && !poliza.depositante" class="text-warning">
										Es requerido el campo de depositante.
									</div>
								</div>

								<div class="clearfix">
									<div class="form-group has-{{ poliza.afianzadora ? 'success' : 'warning' }} has-feedback">
										<loader
										    working="loaderAfianzadora"
										    message="cargando..."
										    template="8">
										</loader>
										<label class="control-label" for="lstAfianzadora">Afianzadora:</label>
										<select 
											id="lstAfianzadora"
											name="lstAfianzadora"
											class="form-control" 
											ng-model="poliza.afianzadora" 
											ng-options="afianzadora.Nombre for afianzadora in afianzadoras">
												<option value="">[ Afianzadora ]</option>
											</select>
										</label>

										<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="poliza.afianzadora"></span>
										<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!poliza.afianzadora"></span>
										<span id="txtAfianzadoStatus" class="sr-only">(warning)</span>

										<div ng-show="frmPoliza.$submitted && !poliza.afianzadora" class="text-warning">
											Es requerida la seleccion de una afianzadora.
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<label for="txtDescripcion">
									Descripción
								</label>
								<textarea rows="5" id="txtDescripcion" class="form-control" placeholder="Descripción" style="display: block; width:100%;"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer clearfix">
						<div class="col-md-6">
							<button type="submit" class="btn btn-primary btn-block btn-lg" ng-disabled="disabled(poliza)">
								Agregar
							</button>
						</div>
						<div class="col-md-6">
							<button type="reset" ng-click="reset(poliza)" class="btn btn-primary btn-block btn-lg" ng-disabled="">
								Limpiar
							</button>
						</div>
				</div>
			</div>
		</form>
	</div>
</div>

<script type="text/ng-template" id="agregarAfianzado.html">
	<form name="frmAfianzado" ng-submit="agregar()" novalidate>
		<div class="modal-header">
			<h3 class="modal-title">Afianzado</h3>
		</div>
		<div class="modal-body">
			<div class="form-group has-{{ afianzado.nombre ? 'success' : 'warning' }} has-feedback">
				<label class="control-label" for="txtAfianzadoNombre">Nombre:</label>
				<input ng-model="afianzado.nombre" name="pNombre" id="txtAfianzadoNombre" type="text" class="form-control" required="" placeholder="Nombre de depositante" aria-describedby="txtAfianzadoNombreStatus" />
				<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="afianzado.nombre"></span>
				<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!afianzado.nombre"></span>
				<span id="txtAfianzadoNombreStatus" class="sr-only">(warning)</span>

				<div ng-show="frmAfianzado.$submitted && !afianzado.nombre" class="text-warning">
					Es requerido el campo nombre del afianzado.
				</div>
			</div>

			<div class="form-group has-{{ afianzado.apellidoPaterno ? 'success' : 'warning' }} has-feedback">
				<label class="control-label" for="txtAfianzadoApellidoPaterno">Apellido Paterno:</label>
				<input ng-model="afianzado.apellidoPaterno" name="pNombre" id="txtAfianzadoApellidoPaterno" type="text" class="form-control" required="" placeholder="Apellido Paterno" aria-describedby="txtAfianzadoApellidoPaternoStatus" />
				<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="afianzado.apellidoPaterno"></span>
				<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!afianzado.apellidoPaterno"></span>
				<span id="txtAfianzadoApellidoPaternoStatus" class="sr-only">(warning)</span>
				
				<div ng-show="frmAfianzado.$submitted && !afianzado.apellidoPaterno" class="text-warning">
					Es requerido el campo apellido paterno del afianzado.
				</div>
			</div>

			<div class="form-group has-{{ afianzado.apellidoMaterno ? 'success' : 'warning' }} has-feedback">
				<label class="control-label" for="txtAfianzadoApellidoMaterno">Apellido Materno:</label>
				<input ng-model="afianzado.apellidoMaterno" name="pNombre" id="txtAfianzadoApellidoMaterno" type="text" class="form-control" required="" placeholder="Apellido Materno" aria-describedby="txtAfianzadoApellidoMaternoStatus" />
				<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="afianzado.apellidoMaterno"></span>
				<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!afianzado.apellidoMaterno"></span>
				<span id="txtAfianzadoApellidoMaternoStatus" class="sr-only">(warning)</span>
				
				<div ng-show="frmAfianzado.$submitted && !afianzado.apellidoMaterno" class="text-warning">
					Es requerido el campo apellido materno del afianzado.
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" ng-disabled="disabled()">Agregar</button>
			<button class="btn btn-warning" ng-click="cancelar()" type="button">Cancelar</button>
		</div>
	</form>
</script>


<script type="text/ng-template" id="agregarDepositante.html">
	<form name="frmDepositantentente" ng-submit="agregar()" novalidate>
		<div class="modal-header">
			<h3 class="modal-title">Depositante</h3>
		</div>
		<div class="modal-body">
			<div class="form-group has-{{ depositante.nombre ? 'success' : 'warning' }} has-feedback">
				<label class="control-label" for="txtDepositanteNombre">Nombre:</label>
				<input ng-model="depositante.nombre" name="pNombre" id="txtDepositanteNombre" type="text" class="form-control" required="" placeholder="Nombre de depositante" aria-describedby="txtDepositanteNombreStatus" />
				<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="depositante.nombre"></span>
				<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!depositante.nombre"></span>
				<span id="txtDepositanteNombreStatus" class="sr-only">(warning)</span>

				<div ng-show="frmDepositante.$submitted && !depositante.nombre" class="text-warning">
					Es requerido el campo nombre del depositante.
				</div>
			</div>

			<div class="form-group has-{{ depositante.apellidoPaterno ? 'success' : 'warning' }} has-feedback">
				<label class="control-label" for="txtDepositanteApellidoPaterno">Apellido Paterno:</label>
				<input ng-model="depositante.apellidoPaterno" name="pNombre" id="txtDepositanteApellidoPaterno" type="text" class="form-control" required="" placeholder="Apellido Paterno" aria-describedby="txtDepositanteApellidoPaternoStatus" />
				<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="depositante.apellidoPaterno"></span>
				<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!depositante.apellidoPaterno"></span>
				<span id="txtDepositanteApellidoPaternoStatus" class="sr-only">(warning)</span>
				
				<div ng-show="frmDepositante.$submitted && !depositante.apellidoPaterno" class="text-warning">
					Es requerido el campo apellido paterno del depositante.
				</div>
			</div>

			<div class="form-group has-{{ depositante.apellidoMaterno ? 'success' : 'warning' }} has-feedback">
				<label class="control-label" for="txtDepositanteApellidoMaterno">Apellido Materno:</label>
				<input ng-model="depositante.apellidoMaterno" name="pNombre" id="txtDepositanteApellidoMaterno" type="text" class="form-control" required="" placeholder="Apellido Materno" aria-describedby="txtDepositanteApellidoMaternoStatus" />
				<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="depositante.apellidoMaterno"></span>
				<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-show="!depositante.apellidoMaterno"></span>
				<span id="txtDepositanteApellidoMaternoStatus" class="sr-only">(warning)</span>
				
				<div ng-show="frmDepositante.$submitted && !depositante.apellidoMaterno" class="text-warning">
					Es requerido el campo apellido materno del depositante.
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" ng-disabled="disabled()">Agregar</button>
			<button class="btn btn-warning" ng-click="cancelar()" type="button">Cancelar</button>
		</div>
	</form>
</script>